SPRING_PROFILES_ACTIVE=local
RANKING_SERVER_PORT=8086
RANKING_GRPC_PORT=50056
RANKING_DB_URL=jdbc:postgresql://localhost:5432/candle_ranking
RANKING_DB_USERNAME=candle
RANKING_DB_PASSWORD=candle
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
RANKING_REDIS_HOST=localhost
RANKING_REDIS_PORT=6379
