SPRING_PROFILES_ACTIVE=local
SPRING_BATCH_JOB_ENABLED=false
BATCH_TRADING_ENABLED=false
BATCH_TRADING_GRPC_TARGET=static://localhost:50054
BATCH_STOCK_GRPC_TARGET=static://localhost:50060
BATCH_TRADING_JOB_DEADLINE_MILLIS=120000
