SPRING_PROFILES_ACTIVE=local
SPRING_BATCH_JOB_ENABLED=false
BATCH_PORTFOLIO_EOD_ENABLED=false
BATCH_PORTFOLIO_EOD_CRON=0 0 16 * * MON-FRI
BATCH_PORTFOLIO_GRPC_TARGET=static://localhost:50055
BATCH_TRADING_GRPC_TARGET=static://localhost:50054
BATCH_STOCK_GRPC_TARGET=static://localhost:50060
