SPRING_PROFILES_ACTIVE=prod
WISHLIST_SERVER_PORT=8092
WISHLIST_GRPC_PORT=50061
WISHLIST_DB_URL=
WISHLIST_DB_USERNAME=
WISHLIST_DB_PASSWORD=
REDIS_URL=
NOTIFICATION_GRPC_ADDR=
WISHLIST_QUOTE_CHANNEL=market:quotes
